.pageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.galleryContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
